@import "tailwindcss";

@theme {
  --color-deep-navy-black: #010409;
  --color-action-gold: #FFD700;
  --color-electric-cyan: #00D2FF;
  --color-institutional-white: #FFFFFF;

  --font-institutional: var(--font-neo-sans), sans-serif;
}